.swiper-wrapper {
    height: 250px; // Ajusta la altura según tus necesidades
  
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
  
      > div {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: 640px) {
    .swiper-wrapper {
      height: 300px; // Ajusta la altura del contenedor según el contenido
    }
  
    .swiper-slide {
      display: block; // Apila verticalmente en pantallas móviles
      height: auto; // Altura ajustada según el contenido
    }
  }

  
  @media (max-width: 768px) {
    .swiper-wrapper {
      height: 200px; // Ajusta la altura del contenedor según el contenido
    }
  
    .swiper-slide {
      display: block; // Apila verticalmente en pantallas móviles
      height: auto; // Altura ajustada según el contenido
    }
  }

  
  
  @media (max-width: 1024px) {
    .swiper-wrapper {
      height: 300px; // Ajusta la altura del contenedor según el contenido
    }
  
    .swiper-slide {
      display: block; // Apila verticalmente en pantallas móviles
      height: auto; // Altura ajustada según el contenido
    }
  }