h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 36px;
}

.home_div {
    text-align: center;
}

.temp_link {
    margin-top: 12xp;
    margin-bottom: 12px;
}

.temp_button {
    width: 200px;
}